{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>

<body>
    <div class="maincointainer1">
        <div class="contenido1">
            <header class="logo">
                <a class="fix" href="{% url 'index' %}">
                    <img class="logeishon" src="{% static 'img/best animal2-01 (1).png' %}" alt="logo">
                </a>
            </header>
            <img class="gato" src="{% static 'img/pussy.PNG' %}" alt="gato">
        </div>
        <div class="contenido2">
            <h1 class="register">REGISTRARSE</h1>
            <form class="formulario" action="" method="post">
                {% csrf_token %}
                <input class="reg" name="name" type="text" placeholder="Nombre:" required>
                <input class="reg" name="apellido" type="text" placeholder="Apellido:" required>
                <input class="reg" name="documento" type="number" placeholder="Documento:" required>
                <input class="reg" name="direccion" type="text" placeholder="Direccion:" required>
                <input class="reg" name="celular" type="number" placeholder="Celular:" required>
                <input class="reg" name="email" type="email" placeholder="Email:" required>
                <input class="reg" name="password" type="password" placeholder="Contraseña:" required>
                <input class="reg" name="password_confirmation" type="text" placeholder="Confirmar contraseña" required>
                <input class="reg1" type="submit" value="FINALIZADO">
            </form>
        </div>
    </div>
    <footer class="fnn">
        <div class="finn">
            <p class="vet">2022 Clínica Veterinaria Best Animals, todos los derechos reservados </p>
        </div>
    </footer>
</body>

</html>